.linkstyle{
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    width: 160px;
    border-radius: 7px;
    color: #52555d;
}

